.root {
    -fx-font-size: 11.0px;
    -fx-font-family:'Liberation Sans';
    -billing-shadow-color: #A8A8A8;
    -billing-base-color: #EBEBEB;
}

.layout {
	-fx-spacing:10;	
	-fx-background-color: white;
}

  
.header {
	-fx-padding: 0px 10px 10px 10px;
	-fx-background-color: white;
}

.menuBar {
	-fx-background-color: lightgrey;
}


.menu-bar {
	/* -fx-background-color: red; */
}

.menu {
	/*-fx-cursor: hand;*/
	-fx-font-size: 13.0px;
}

.menu-item {
	-fx-font-size: 12.0px;
}

.menu .context-menu {
	/*-fx-shape:"M0,100 h150 L170,0 L190,100 h420 v900 H0 Z";*/
}


.content {
	-fx-padding: 10px 10px 10px 10px;
	-fx-background-position: center top;
	-fx-background-color: white;
	-fx-background-repeat: no-repeat;
}


.content-muface {
	-fx-background-position: center top;
	-fx-background-color: white;
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("images/muface_background.png");
}


.alerts{
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-padding: 0px 1px 0px 0px;	
    -fx-min-width:300;
}

.alerts .button-bar {
	-fx-padding: 0px 1px 0px 1px;	
}

.alerts > *.button-bar > *.container{
	
    -fx-background-color: white;
}

.alerts > .content {
    -fx-background-color: white;
}

.alerts > .content > *.text-field {
	-fx-max-width: 30px;
}

.alerts > *.label.content{
    -fx-font-size: 12px;
}

.alerts:header .header-panel .graphic-container {
    /* This prevents the text in the header running directly into the graphic */
     -fx-background-color: white;
}

.alerts:header *.header-panel{
    -fx-background-color: white;
}

.alerts:header *.header-panel *.label{
	-fx-padding: 0px 0px 0px 5px;	
    -fx-font-size: 16px;
}



/************************** TEXT FIELD, TOOLTIP, BUTTON *******************************/

.text-field,.text-area {
    -fx-font-size:14px;
	-fx-background-radius: 0, 0, 0, 0;
}

.tooltip {
	-fx-border-width:1px;
	-fx-border-color:grey;
   	-fx-background-radius: 0 0 0 0;
    -fx-background-color:  white;
    -fx-text-fill: grey;
}


.button, .toggle-button {
	-fx-background-radius: 0, 0, 0, 0;
}


.closeButton  {
	-fx-border-width:0px;	
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color:  white;
	-fx-content-display: graphic-only;
    -fx-graphic: url("images/close-icon.png");
}


.closeButton:hover {
	-fx-border-width:0px;	
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color:  white;
	-fx-content-display: graphic-only;
    -fx-graphic: url("images/close-icon-hover.png");
}


.minimizeButton  {
	-fx-border-width:0px;	
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color:  white;
	-fx-content-display: graphic-only;
    -fx-graphic: url("images/min-icon.png");
}


.minimizeButton:hover {
	-fx-border-width:0px;	
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color:  white;
	-fx-content-display: graphic-only;
    -fx-graphic: url("images/min-icon-hover.png");
}


/******************************************************************************/

.text-field {
	-fx-padding:5,2,5,2
}

/******************************************************************************/

.small-font-size {
	-fx-font-size: 0.87em;
}


.valid-value {
	-fx-border-color: null;
}

.invalid-value {
	-fx-border-color: red;
}


.textfield-valid {
	-fx-border-color: null;
}

.textfield-invalid {
	 -fx-border-color: red;
}



